.nav {
  grid-area: n;
  background-color: rgb(235, 238, 35);
  padding: 20px; 
}

.item {
  color: rgb(14, 41, 79);
  text-decoration: none; /*убираем подчеркивание у ссылок */
}

.active { /* NavLink имеет встроенный класс active, именно он отображается в html разметке в консоле, поэтому стилизуем именно его*/
  color: rgb(245, 245, 245);
  text-decoration: none;
}
.friendsBlock {
  margin-top: 50px;
}

.avatarsBlock {
  display: flex;
  justify-content: space-between;
}

.avatarsBlock img {
  max-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}